*{
    font-family: 'Work Sans', sans-serif;
}

:root{
    --dark:#292C35;
    --light:#F1F1F1;
    --label:#111;
}

body{
    height:100%;
    transition:.9s!important;
}

.is-dark{
    background-color:var(--dark)!important;
    transition:.9s!important;
    color:var(--light)!important;
}

.is-light{
    background-color:var(--light)!important;
    transition:.9s!important;
    color:var(--dark)!important;
}


/* .fa-sun, .fa-moon{
    transition: .3s!important;
} */
